---
import Layout from '../layouts/Layout.astro';
import Top from "../components/top.astro"
import Footer from "../components/footer.astro"
---

<Layout title="Vueltalmundocerveceria">
  <div class="w-full max-w-xl backdrop-blur-sm text-gray-50 h-screen">
  <Top/>
	<main class="w-full flex justify-center w-full flex-col gap-8 p-10">
    <div class="w-full flex justify-center w-full flex-col gap-2">
      <p class="w-full text-center text-xl font-medium">CERVEZA VUELTA AL MUNDO</p>
      <p class="w-full text-center text-base">Bébete una, tu paladar dará una vuelta por el mundo</p>
      <span class="w-full text-center block text-sm font-light mt-5">
        <i class="fi fi-rs-marker"></i> Caracas, VE
      </span>
      <span class="w-full text-center block text-sm font-light">
        <i class="fi fi-rr-clock-three"></i> Lunes a viernes. 9am - 4pm
      </span>
    </div>
    <ul class="flex flex-col justify-center w-full gap-4">
      <li class="w-full flex justify-center">
        <a href="/shop" class="flex align-center justify-center gap-2 bg-amber-500 text-black w-full py-3 block text-center hover:bg-neutral-900 hover:text-amber-500 transition-all duration-200 hover:border-amber-500 hover:border rounded-sm">
          <i class="fi fi-rs-shopping-cart"></i> COMPRAR 
        </a>
      </li>
      <li class="w-full flex justify-center">
        <a target="_blank" href="https://wa.me/584242318836" class="flex align-center justify-center gap-2 bg-amber-500 text-black w-full py-3 block text-center hover:bg-neutral-900 hover:text-amber-500 transition-all duration-200 rounded-sm hover:border-amber-500 hover:border">
          <i class="fi fi-brands-whatsapp"></i> WHATSAPP
        </a>
      </li>
      <li class="w-full flex justify-center">
        <a href="https://www.instagram.com/vueltaalmundocerveceria/" target="_blank" class="flex align-center justify-center gap-2 bg-amber-500 text-black w-full py-3 block text-center hover:bg-neutral-900 hover:text-amber-500 transition-all duration-200 hover:border-amber-500 hover:border rounded-sm">
          <i class="fi fi-brands-instagram"></i>  INSTAGRAM
        </a>
      </li>
    </ul>
  </main>
  <Footer/>
  </div>

