---
import Layout from "../layouts/Layout.astro"
import Top from "../components/top.astro"
import beers from "../data" 
import ProductsLayout from "../layouts/productsLayout.jsx"
---

<Layout title="tienda">
  <div>
    <Top/>
    <ProductsLayout beers={beers} client:load/>
  </div>
</Layout>
