---
import {Image} from "astro:assets";

import Logo from "../assets/logo.png"
---
<header class="w-full justify-center flex">
  <a href="/">
    <Image src={Logo} width="120" alt=""></Image>
  </a>
</header>

